* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100%;
  /* padding: 30px; */
}
/* 
.box {
  margin-top: 18px;
  height: 200px;
  width: 200px;
  background: #c6be26;
}

.app {
  height: 100vh;
  width: 100vw;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
}
.heading{
  overflow: hidden;
  line-height: 0.9;
}
.app .heading span{
display: inline-block;
}
.box1{
  height: 100px;width: 100px;
  background-color: aquamarine;
  margin: 20px;
}
.box2{
  height: 100px;width: 100px;
  background-color: rgb(127, 255, 240);
  margin: 20px;
}
.box3{
  height: 100px;width: 100px;
  background-color: rgb(255, 244, 127);
  margin: 20px;
}
.box4{
  height: 100px;width: 100px;
  background-color: rgb(255, 193, 127);
  margin: 20px;
}
.box5{
  height: 100px;width: 100px;
  background-color: rgb(255, 127, 214);
  margin: 20px;
}
button{
  padding: 10px 20px ;
  background-color: bisque;
  margin: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}
button:hover{
    background-color: rgb(244, 228, 210);
}
.page{
  height: 100vh;
  width: 100%;
} */
.page{
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.page1{
  background-color: #71f8ff;
}
.page2 img{
width: 100%;
height: 100%;
object-fit: cover;
transform-origin: center;
}
.page3{
  background-color: #a4e06f;
}

